@import url(../main/reset.css);

/* common */
.mainContainer{
    max-width: 1160px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
nav a:hover, .orange a:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: underline;
}
nav a:visited, .orange a:visited{
    color: #FFFFFF;
}
nav a, .orange a{
    color: #FFFFFF;
}
h1{
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;    
    color: #FFFFFF;    
    border: 1.18841px solid #FFFFFF;
    margin-right: 63px;
    display: inline-block;
    padding: 3.55px 4.55px;
    position: relative;
}
h1 img{
    position: absolute;
    left: 10px;
    bottom: 9px;
}
h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
    margin-bottom: 20px;
}
h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}
body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.white{
    color: white;
}
button{
    width: 298px;
    height: 54px;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px
}
.roundButton{
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}
.straight{
    border-radius: 5px;
}
button:hover{
    background: #E47209
}
button:active{
    background: #4B9200;
}
button:disabled{
    background: #767474
}
/* header start */


header{
    background: #000000;
    backdrop-filter: blur(2px);
    height: 80px;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    color: white;
}

ul{
    display: flex;
    gap: 58px;
}
.menu{
    display: flex;
    align-items: center;
}
.burger-container{
    display: none;
    flex-direction: column;
    width: 18px;
    height: 10px;
    gap: 2px;    
}
.burger-line{
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
}

/* header end */

#pandaPic{
    height: 390px;
    background-image: url(../../assets/images/panda_bg.jpg);
    background-position: center;
    background-size: cover;
}

/* donation start */
#donation{
    padding-top: 40px;
    padding-bottom: 180px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
    color: #FFFFFF;
}
.subtitle{
    margin-top: 10px;
    margin-bottom: 40px;
}
.orang{
    color: #FE9013;
    margin-bottom: 60px;
}
.pick_feed_container{
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 62px;
    color: #333B41;
}
.subtitle2{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 112px;
    align-self: flex-start;
    margin-left: 92px;
}
/*  */
.quontity{
    color: black;
    display: inline-block; 
    vertical-align: middle;
}
.diet_align{
    display: inline-block;
}
.diet_quontity{
    font-size: 72px;
    line-height: 80%;
    margin-bottom: 11px;
}
.diets_for{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}
.for{
    margin-left: 11px;
    margin-right: 64px;
    width: 14px;
    height: 14px;
    background: url('../../assets/icons/x_icon.png');
    display: inline-block;
    position: relative;
    left: -8px;
    top: -14px;
}
.panda{
    transform: translateX(-3px);
    position: relative;
    left: -8px;
}
.amount{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: #000000;
    margin-top: 45px;
    margin-left: 96px;
    text-align: left;
    margin-bottom: 17px;
}
.donationContainer{
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    margin-left: 96px;
    position: relative;
    margin-bottom: 98px;
}
.donationBar{
    width: 93.75%;
    margin: auto;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #72828E;
    display: flex; 
    justify-content: space-between;   
    align-items: center;
}
.donationItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.circle{
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
}
.circle::before{
    display: none;
    content: '';
    position: absolute;
    transform: translate(-25%, -25%);
    width: 16px;
    height: 16px;
    outline: #FE9013 solid 2px;
    outline-offset: 8px;
    border: #FE9013 solid 2px;
    border-radius: 50%;
}
.hoverLay{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -100%;
}
.donationAmount{
    position: absolute;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    top: 35px;
    text-transform: uppercase;
}
.currentAmount{
    top: 34px;
}
.inputContainer{
    margin: 0 auto;
    position: relative;
    width: fit-content;
}
.inputContainer img{
    position: absolute;
    right: 17px;
    top: 17px;
}
#donation_amount{
    width: 268px;
    height: 54px;
    background: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
    padding-left: 9px;
    color: #929699;
    font-weight: 400;
}
.donationItem:hover .circle::before{
    display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="radio"]{
    display: none;
}
#donation label{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    position: relative;
    cursor: pointer;
    display: inline-block;
	user-select: none;
}
#donation label:last-child{
    margin-left: 76px;
}
#donation label:before{
    content: '';
    position: absolute;
    left: -26px;
    top: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid #FE9013;
    border-radius: 50%;
}
#donation input[type="radio"]:checked + label:before{
    background: #4B9200;
    border: 1px solid #4B9200;
}

.radioButtons{
    margin: 25px auto 30px;
}
.share{
    margin-top: 30px;
    font-weight: 400;
}
/* donation end */



/* footer start */
footer{
    height: 443px;
    background-color: #000000;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #FFFFFF;
}
footer .mainContainer{
    position: relative;
}
.logo__line{
    display: none;
}
.logo{
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;    
    color: #FFFFFF;    
    border: 1.18841px solid #FFFFFF;
    width: fit-content;
    padding: 3.55px 4.55px;
    position: relative;
    margin-bottom: 68px;
}
.logo img{
    position: absolute;
    left: 10px;
    bottom: 9px;
}
.subscribe {
    position: absolute;
    right: 0;
    top: 0;
}
label{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    display: block;
}
#e-mail{
    border: 1px solid #F9804B;
    border-radius: 2px;
    background-color: #000000;
    height: 42px;
    width: 228px;
    color: #BDBDBD;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#e-mail:focus{
    border: 1px solid #4B9200;
}
#e-mail:invalid {
    border: 1px solid #D31414;
    color: #D31414
}
#e-mail:valid:focus + .submit{
    border: 1px solid #333B41;
    color: #333B41;
}
.submit:active{
    border: 1px solid #4B9200;
    color: #4B9200;
}

.submit{
    background: #F1F3F2;    
    border-radius: 5px;
    height: 42px;
    width: 129px; 
    border: 1px solid #D31414;
    color: #D31414   
}
.submit:hover{
    background: #dfebe5;
}

.footerContainer{
    display: flex;
    align-items: flex-end;
    margin-top: 44px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
.contactItem div{
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 12px;
    position: relative;
}
.contactItem img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footerContainer nav{
    margin-left: 288px;
    margin-right: 168px;
}
.copyRights{
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}
.copyRights p{
    margin-top: 10px;
}
.contact a, .contact a:visited, .copyRights a, .copyRights a:visited{
    color: #FFFFFF;    
}
.contact a:hover, .copyRights a:hover{
    color: #4B9200;    
}
.contact a:hover div div{
    background: #4B9200;    
}
.copyRights a:hover {
    text-decoration: underline;
}
/* footer end */

@media  screen and (max-width: 1599px) {
    .mainContainer{
        max-width: 940px;
    }
    ul{
        gap: 48px;
    }
    .footerContainer nav{
        margin-left: 19%;
        margin-right: 9.361%;
    }
    .subscribe{
        right: 30px;
    }
    .subtitle2{
        margin-left: 47px;
    }
    .donationContainer{
        width: 810px;
        margin-left: 65px;
    }
    .donation__5000{
        display: none;
    }
    #donation{
        padding-bottom: 30px;
    }
    .orang{
        margin-bottom: 40px;
    }
    .pick_feed_container{
        padding-top: 20px;
        padding-bottom: 46px;
    }
    .pick_feed_container h2{
        align-self: flex-start;
        margin-left: 231px;
        margin-bottom: 10px;
    }
    .diet{
        position: relative;
        right: 10px;
    }
    .amount{
        margin-left: 65px;
        margin-top: 37px;        
    }
    .donationBar{
        width: 98%;
    }
    .donation__2000 p, .donation__1000 p, .donation__500 p, .donation__250 p, .donation__100 p{
        left: -10px;
    }
    .donationAmount{
        top: 31px;
    }
}
@media screen and (max-width: 999px) {
    .mainContainer{
        width: 93.75%;
    }
    .headerContainer{
        padding-top: 2px;
    }
    .header-nav{
        display: none;
    }
    .designed-by{
        display: none;
    }
    .burger-container{
        display: flex;
    }
    #header{
        position: fixed;
        z-index: 6;
        width: 100%;
        height: 34px;
    }
    h1{
        font-weight: 400;
        font-size: 12.2899px;
        line-height: 120%;
        border: none;
        padding: 0px;
    }
    h1 img {
        position: absolute;
        left: 1px;
        bottom: 0px;
    }
    #pandaPic {
        height: 369px;
        background-position-x: -318px;
        background-position-y: 12px;
    }    
    #donation{
        padding-top: 30px;
        padding-bottom: 46px;
    }
    h3{
        font-size: 24px;
        line-height: 120%;
    }
    .subtitle{
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
    }
    .orang{
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 30px;
    }
    .pick_feed_container{
        padding: 30px 0 31px;
    }
    .pick_feed_container h2{
        align-self: auto;
        margin: 0;
    }
    .subtitle2{
        margin: 20px 0 92px;

    }
    .for{
        left: -4px;
        top: -8px;
    }
    .donationContainer{
        width: 100%;
        margin: 0 auto 98px;
    }
    .amount{
        margin: 41px auto 7px 10px ;
    }
    .donation__2000, .donation__1000 {
        display: none;
    }
    .donationBar{
        width: 87.3333%;
    }
    #donation_amount{
        width: 180px;
        height: 42px;
    }
    .donation__500 p, .donation__250 p, .donation__100 p {
        left: -20px;
    }
    .inputContainer img {
        right: 9px;
        top: 10px;
    }
    .subscribe{
        display: none;
    }
    .contact{
        position: absolute;
        top: 0;
        right: 0;
        gap: 20px;
    }
    .footerContainer nav{
        margin: 0;
    }
    ul{
        gap: 37px;        
    }
    .footerContainer{
        margin-top: 57px;
        justify-content: space-between;
    }
    footer{
        padding-top: 13px;
        padding-bottom: 12px;
        height: 282px;
    }
    .logo{
        margin-bottom: 32px;
    }
    .contact span{
        display: none;
    }
    .contactItem div{
        margin-right: 0;
    }
}
@media screen and (max-width: 639px) {
    #pandaPic{
        height: 221px;
        background-position-x: -201px;
        background-position-y: 12px;
    }
    .orang{
        font-size: 24px;
    }
    .pick_feed_container{
        padding: 20px 0 20px;
    }
    .pick_feed_container h2{
        font-size: 24px;
    }
    .subtitle2{
        font-size: 16px;
        margin: 10px 0 42px;
    }
    .diet{
        position: static;
    }
    .diet_quontity{
        font-size: 40.6015px;
        line-height: 80%;
    }
    .diets_for{
        font-size: 9.02255px;
        line-height: 140%;
    }
    .panda{
        width: 50%;
        position: static;
    }
    .for{
        width: 7px;
        height: 7px;
        background-size: cover;
        margin-left: 6px;
        margin-right: 36px;
    }
    .amount{
        margin: 4px auto 8px 0;
    }
    .donationContainer{
        height: 13px;
        margin-bottom: 51px;
    }
    .circle{
        width: 5px;
        height: 5px;
    }
    .donationBar{
        height: 1px;
    }
    .hoverLay{
        top: -20px;
    }
    .donationAmount{
        font-size: 13px;
        top: 15px;
    }
    .donation__500 p, .donation__250 p, .donation__100 p {
        left: -10px;
    }
    .share{
        letter-spacing: -0.1px;
    }
    .radioButtons{
        margin-top: 22px;
    }
    #donation{
        padding-bottom: 20px;
    }
    .circle::before {
        display: none;
        content: '';
        position: absolute;
        transform: translate(-4px, -4px);
        width: 11px;
        height: 11px;
        outline: #FE9013 solid 1px;
        outline-offset: 3px;
        border: #FE9013 solid 1px;
        border-radius: 50%;
    }


    footer{
        padding: 20px 0 20px;
        height: 334px;
    }
    .footerContainer{
        flex-direction: column;
        margin-top: 22px;
        align-items: center;
    }
    .copyRights{
        order: -1;
        font-size: 15px;
        line-height: 120%;
        margin-bottom: 30px;
        align-self: flex-end;
    }
    .contact{
        top: 53px;
        right: auto;
        flex-direction: row;
        order: -2;
        gap: 30px   ;
    }
    .logo__line {
        display: block;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        width: fit-content;
        padding: 3.55px 4.55px;
        position: relative;
        margin: 0 auto 79px;
    }
    .logo__line img{
        position: absolute;
    }
    .logo{
        display: none;
    }
    ul{
        gap: 30px;
    }
}